$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

h1 {
    text-align: center;
}

.modal-body {
    padding-bottom: 0;
}
.modal-footer {
    margin-top: 0;
}

.control-label.col-lg-12 {
    text-align: left;
    padding-bottom: 7px;
}

label.valid {
    display: none !important;
}
label.error {
    font-weight: bold;
    color: #B94A48;
    padding: 2px 8px;
    margin-top: 2px;
}
